@model MyTask
<form method="post">
    <div class="border p-3 mt-4">
        <div row="row pb-3">
            <h2 class="test-primary">Create Task</h2>
        </div>
        <div class="mb-3">
            <label asp-for="Title"></label>
            <input asp-for="Title" class="form-control" />
        </div>
        <div class="mb-3">
            <label asp-for="Description"></label>
            <input asp-for="Description" class="form-control" />
        </div>
        <div class="mb-3">
            <label asp-for="DueDate"></label>
            <input asp-for="DueDate" class="form-control" />
        </div>
        <button type="submit" class="btn btn-primary">Create Task</button>
        <a asp-controller="MyTask" asp-action="Index">Back</a>
    </div>
</form>

